name: rate_my_app
description: Allows to kindly ask users to rate your app if custom conditions are met (eg. install time, number of launches, etc...).
version: 2.1.0 # Remember to also change the version in "darwin/rate_my_app.podspec" and "android/build.gradle".
homepage: https://github.com/Skyost/RateMyApp

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  shared_preferences: '>=2.0.0 <3.0.0'
  flutter_rating_bar: '>=4.0.0 <5.0.0'
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^3.0.2

flutter:
  plugin:
    platforms:
      android:
        package: fr.skyost.ratemyapp
        pluginClass: RateMyAppPlugin
      ios:
        pluginClass: SwiftRateMyAppPlugin
        sharedDarwinSource: true
      macos:
        pluginClass: SwiftRateMyAppPlugin
        sharedDarwinSource: true
